<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huasheng.dao.kndao.KnDetectionSubitemDao" >
  <resultMap id="BaseResultMap" type="com.huasheng.pojo.knpojo.KnDetectionSubitem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="detection_subitem_name" property="detectionSubitemName" jdbcType="VARCHAR" />
    <result column="gene_id" property="geneId" jdbcType="VARCHAR" />
    <result column="detect_content" property="detectContent" jdbcType="VARCHAR" />
    <result column="detection_significance" property="detectionSignificance" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, detection_subitem_name, gene_id, detect_content, detection_significance, create_by, 
    create_date, update_by, update_date, del_flag, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from kn_detection_subitem
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from kn_detection_subitem
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huasheng.pojo.knpojo.KnDetectionSubitem" >
    insert into kn_detection_subitem (id, detection_subitem_name, gene_id, 
      detect_content, detection_significance, create_by, 
      create_date, update_by, update_date, 
      del_flag, remarks)
    values (#{id,jdbcType=VARCHAR}, #{detectionSubitemName,jdbcType=VARCHAR}, #{geneId,jdbcType=VARCHAR}, 
      #{detectContent,jdbcType=VARCHAR}, #{detectionSignificance,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huasheng.pojo.knpojo.KnDetectionSubitem" >
    insert into kn_detection_subitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="detectionSubitemName != null" >
        detection_subitem_name,
      </if>
      <if test="geneId != null" >
        gene_id,
      </if>
      <if test="detectContent != null" >
        detect_content,
      </if>
      <if test="detectionSignificance != null" >
        detection_significance,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="detectionSubitemName != null" >
        #{detectionSubitemName,jdbcType=VARCHAR},
      </if>
      <if test="geneId != null" >
        #{geneId,jdbcType=VARCHAR},
      </if>
      <if test="detectContent != null" >
        #{detectContent,jdbcType=VARCHAR},
      </if>
      <if test="detectionSignificance != null" >
        #{detectionSignificance,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huasheng.pojo.knpojo.KnDetectionSubitem" >
    update kn_detection_subitem
    <set >
      <if test="detectionSubitemName != null" >
        detection_subitem_name = #{detectionSubitemName,jdbcType=VARCHAR},
      </if>
      <if test="geneId != null" >
        gene_id = #{geneId,jdbcType=VARCHAR},
      </if>
      <if test="detectContent != null" >
        detect_content = #{detectContent,jdbcType=VARCHAR},
      </if>
      <if test="detectionSignificance != null" >
        detection_significance = #{detectionSignificance,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huasheng.pojo.knpojo.KnDetectionSubitem" >
    update kn_detection_subitem
    set detection_subitem_name = #{detectionSubitemName,jdbcType=VARCHAR},
      gene_id = #{geneId,jdbcType=VARCHAR},
      detect_content = #{detectContent,jdbcType=VARCHAR},
      detection_significance = #{detectionSignificance,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getSubitemList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from kn_detection_subitem
  </select>
</mapper>