<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huasheng.dao.kndao.KnDrugDao" >
  <resultMap id="BaseResultMap" type="com.huasheng.pojo.knpojo.KnDrug" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="name_cn" property="nameCn" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="adverse_reactions" property="adverseReactions" jdbcType="VARCHAR" />
    <result column="mechanism" property="mechanism" jdbcType="VARCHAR" />
    <result column="contraindications" property="contraindications" jdbcType="VARCHAR" />
    <result column="single_dose_peak_time" property="singleDosePeakTime" jdbcType="VARCHAR" />
    <result column="plasma_protein_binding_rate" property="plasmaProteinBindingRate" jdbcType="VARCHAR" />
    <result column="main_metabolism" property="mainMetabolism" jdbcType="VARCHAR" />
    <result column="plasma_half_life" property="plasmaHalfLife" jdbcType="VARCHAR" />
    <result column="main_ways_eliminate" property="mainWaysEliminate" jdbcType="VARCHAR" />
    <result column="adverse_reactions_frequency" property="adverseReactionsFrequency" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="adverse_reactions_id" property="adverseReactionsId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_by, create_date, update_by, update_date, del_flag, remarks, name, pinyin, 
    name_cn, price, type, adverse_reactions, mechanism, contraindications, single_dose_peak_time, 
    plasma_protein_binding_rate, main_metabolism, plasma_half_life, main_ways_eliminate, 
    adverse_reactions_frequency, notes, adverse_reactions_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from kn_drug
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from kn_drug
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huasheng.pojo.knpojo.KnDrug" >
    insert into kn_drug (id, create_by, create_date, 
      update_by, update_date, del_flag, 
      remarks, name, pinyin, 
      name_cn, price, type, adverse_reactions, 
      mechanism, contraindications, single_dose_peak_time, 
      plasma_protein_binding_rate, main_metabolism, 
      plasma_half_life, main_ways_eliminate, adverse_reactions_frequency, 
      notes, adverse_reactions_id)
    values (#{id,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pinyin,jdbcType=VARCHAR}, 
      #{nameCn,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{adverseReactions,jdbcType=VARCHAR}, 
      #{mechanism,jdbcType=VARCHAR}, #{contraindications,jdbcType=VARCHAR}, #{singleDosePeakTime,jdbcType=VARCHAR}, 
      #{plasmaProteinBindingRate,jdbcType=VARCHAR}, #{mainMetabolism,jdbcType=VARCHAR}, 
      #{plasmaHalfLife,jdbcType=VARCHAR}, #{mainWaysEliminate,jdbcType=VARCHAR}, #{adverseReactionsFrequency,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, #{adverseReactionsId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huasheng.pojo.knpojo.KnDrug" >
    insert into kn_drug
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
      <if test="nameCn != null" >
        name_cn,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="adverseReactions != null" >
        adverse_reactions,
      </if>
      <if test="mechanism != null" >
        mechanism,
      </if>
      <if test="contraindications != null" >
        contraindications,
      </if>
      <if test="singleDosePeakTime != null" >
        single_dose_peak_time,
      </if>
      <if test="plasmaProteinBindingRate != null" >
        plasma_protein_binding_rate,
      </if>
      <if test="mainMetabolism != null" >
        main_metabolism,
      </if>
      <if test="plasmaHalfLife != null" >
        plasma_half_life,
      </if>
      <if test="mainWaysEliminate != null" >
        main_ways_eliminate,
      </if>
      <if test="adverseReactionsFrequency != null" >
        adverse_reactions_frequency,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="adverseReactionsId != null" >
        adverse_reactions_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="nameCn != null" >
        #{nameCn,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="adverseReactions != null" >
        #{adverseReactions,jdbcType=VARCHAR},
      </if>
      <if test="mechanism != null" >
        #{mechanism,jdbcType=VARCHAR},
      </if>
      <if test="contraindications != null" >
        #{contraindications,jdbcType=VARCHAR},
      </if>
      <if test="singleDosePeakTime != null" >
        #{singleDosePeakTime,jdbcType=VARCHAR},
      </if>
      <if test="plasmaProteinBindingRate != null" >
        #{plasmaProteinBindingRate,jdbcType=VARCHAR},
      </if>
      <if test="mainMetabolism != null" >
        #{mainMetabolism,jdbcType=VARCHAR},
      </if>
      <if test="plasmaHalfLife != null" >
        #{plasmaHalfLife,jdbcType=VARCHAR},
      </if>
      <if test="mainWaysEliminate != null" >
        #{mainWaysEliminate,jdbcType=VARCHAR},
      </if>
      <if test="adverseReactionsFrequency != null" >
        #{adverseReactionsFrequency,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="adverseReactionsId != null" >
        #{adverseReactionsId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huasheng.pojo.knpojo.KnDrug" >
    update kn_drug
    <set >
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="nameCn != null" >
        name_cn = #{nameCn,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="adverseReactions != null" >
        adverse_reactions = #{adverseReactions,jdbcType=VARCHAR},
      </if>
      <if test="mechanism != null" >
        mechanism = #{mechanism,jdbcType=VARCHAR},
      </if>
      <if test="contraindications != null" >
        contraindications = #{contraindications,jdbcType=VARCHAR},
      </if>
      <if test="singleDosePeakTime != null" >
        single_dose_peak_time = #{singleDosePeakTime,jdbcType=VARCHAR},
      </if>
      <if test="plasmaProteinBindingRate != null" >
        plasma_protein_binding_rate = #{plasmaProteinBindingRate,jdbcType=VARCHAR},
      </if>
      <if test="mainMetabolism != null" >
        main_metabolism = #{mainMetabolism,jdbcType=VARCHAR},
      </if>
      <if test="plasmaHalfLife != null" >
        plasma_half_life = #{plasmaHalfLife,jdbcType=VARCHAR},
      </if>
      <if test="mainWaysEliminate != null" >
        main_ways_eliminate = #{mainWaysEliminate,jdbcType=VARCHAR},
      </if>
      <if test="adverseReactionsFrequency != null" >
        adverse_reactions_frequency = #{adverseReactionsFrequency,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="adverseReactionsId != null" >
        adverse_reactions_id = #{adverseReactionsId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huasheng.pojo.knpojo.KnDrug" >
    update kn_drug
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      name_cn = #{nameCn,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      adverse_reactions = #{adverseReactions,jdbcType=VARCHAR},
      mechanism = #{mechanism,jdbcType=VARCHAR},
      contraindications = #{contraindications,jdbcType=VARCHAR},
      single_dose_peak_time = #{singleDosePeakTime,jdbcType=VARCHAR},
      plasma_protein_binding_rate = #{plasmaProteinBindingRate,jdbcType=VARCHAR},
      main_metabolism = #{mainMetabolism,jdbcType=VARCHAR},
      plasma_half_life = #{plasmaHalfLife,jdbcType=VARCHAR},
      main_ways_eliminate = #{mainWaysEliminate,jdbcType=VARCHAR},
      adverse_reactions_frequency = #{adverseReactionsFrequency,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      adverse_reactions_id = #{adverseReactionsId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getKnDrugList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from kn_drug
  </select>
</mapper>