<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


    <!-- 自动扫描 -->
    <context:component-scan base-package="com.huasheng.service"/>

    <!-- 数据库连接池 -->
    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:resource/*.properties" />
    <!-- 数据库连接池 -->
    <bean id="oldDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          destroy-method="close">
        <property name="url" value="${jdbc.url.old}" />
        <property name="username" value="${jdbc.username.old}" />
        <property name="password" value="${jdbc.password.old}" />
        <property name="driverClassName" value="${jdbc.driver.old}" />
        <property name="maxActive" value="10" />
        <property name="minIdle" value="5" />
    </bean>

    <bean id="newDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          destroy-method="close">
        <property name="url" value="${jdbc.url.new}" />
        <property name="username" value="${jdbc.username.new}" />
        <property name="password" value="${jdbc.password.new}" />
        <property name="driverClassName" value="${jdbc.driver.new}" />
        <property name="maxActive" value="10" />
        <property name="minIdle" value="5" />
    </bean>

    <bean id="knDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          destroy-method="close">
        <property name="url" value="${jdbc.url.kn}" />
        <property name="username" value="${jdbc.username.kn}" />
        <property name="password" value="${jdbc.password.kn}" />
        <property name="driverClassName" value="${jdbc.driver.kn}" />
        <property name="maxActive" value="10" />
        <property name="minIdle" value="5" />
    </bean>

    <bean id="dataSource" class="com.huasheng.datasource.DbcontextHolder"><!-- 这里写选择数据源的类地址 下面跟着给出-->
        <property name="defaultTargetDataSource" ref="newDataSource"/><!-- 设置默认为此mySqlDataSource数据源-->
        <property name="targetDataSources">
            <map>
                <entry key="oldDataSource" value-ref="oldDataSource"/>
                <entry key="newDataSource" value-ref="newDataSource"/>
                <entry key="knDataSource" value-ref="knDataSource"/>
            </map>
        </property>
    </bean>
    <!-- mybatis和spring完美整合，不需要mybatis的配置映射文件 -->
    <!-- 配置sqlsessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mapping/SqlMapConfig.xml"></property>
        <property name="dataSource" ref="dataSource"></property>
        <!--扫描mapper下面的所有xml文件-->
        <property name="mapperLocations">
            <list>
                <value>classpath:com/huasheng/mapper/newmapper/*.xml</value>
                <value>classpath:com/huasheng/mapper/oldmapper/*.xml</value>
                <value>classpath:com/huasheng/mapper/knmapper/*.xml</value>
            </list>
        </property>
    </bean>

    <!-- DAO接口所在包名，Spring会自动查找其下的类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.huasheng.dao.newdao,com.huasheng.dao.olddao,com.huasheng.dao.kndao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

</beans>