<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huasheng.dao.newdao.KtClinicalTrialCancerDao" >
  <resultMap id="BaseResultMap" type="com.huasheng.pojo.newpojo.KtClinicalTrialCancer" >
    <id column="clinical_trial_key" property="clinicalTrialKey" jdbcType="VARCHAR" />
    <id column="cancer_key" property="cancerKey" jdbcType="VARCHAR" />
    <result column="doid" property="doid" jdbcType="INTEGER" />
    <result column="clinical_trial_id" property="clinicalTrialId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    clinical_trial_key, cancer_key, doid, clinical_trial_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.huasheng.pojo.newpojo.KtClinicalTrialCancer" >
    select 
    <include refid="Base_Column_List" />
    from kt_clinical_trial_cancer
    where clinical_trial_key = #{clinicalTrialKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtClinicalTrialCancer" >
    delete from kt_clinical_trial_cancer
    where clinical_trial_key = #{clinicalTrialKey,jdbcType=VARCHAR}
      and cancer_key = #{cancerKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huasheng.pojo.newpojo.KtClinicalTrialCancer" >
    insert into kt_clinical_trial_cancer (clinical_trial_key, cancer_key, doid, 
      clinical_trial_id)
    values (#{clinicalTrialKey,jdbcType=VARCHAR}, #{cancerKey,jdbcType=VARCHAR}, #{doid,jdbcType=INTEGER}, 
      #{clinicalTrialId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huasheng.pojo.newpojo.KtClinicalTrialCancer" >
    insert into kt_clinical_trial_cancer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clinicalTrialKey != null" >
        clinical_trial_key,
      </if>
      <if test="cancerKey != null" >
        cancer_key,
      </if>
      <if test="doid != null" >
        doid,
      </if>
      <if test="clinicalTrialId != null" >
        clinical_trial_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clinicalTrialKey != null" >
        #{clinicalTrialKey,jdbcType=VARCHAR},
      </if>
      <if test="cancerKey != null" >
        #{cancerKey,jdbcType=VARCHAR},
      </if>
      <if test="doid != null" >
        #{doid,jdbcType=INTEGER},
      </if>
      <if test="clinicalTrialId != null" >
        #{clinicalTrialId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huasheng.pojo.newpojo.KtClinicalTrialCancer" >
    update kt_clinical_trial_cancer
    <set >
      <if test="doid != null" >
        doid = #{doid,jdbcType=INTEGER},
      </if>
      <if test="clinicalTrialId != null" >
        clinical_trial_id = #{clinicalTrialId,jdbcType=VARCHAR},
      </if>
    </set>
    where clinical_trial_key = #{clinicalTrialKey,jdbcType=VARCHAR}
      and cancer_key = #{cancerKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtClinicalTrialCancer" >
    update kt_clinical_trial_cancer
    set doid = #{doid,jdbcType=INTEGER},
      clinical_trial_id = #{clinicalTrialId,jdbcType=VARCHAR},
    cancer_key = #{cancerKey,jdbcType=VARCHAR}
    where clinical_trial_key = #{clinicalTrialKey,jdbcType=VARCHAR}
  </update>

  <select id="getClinicalTrialCancerByClinicalTrialKey" resultMap="BaseResultMap" parameterType="com.huasheng.pojo.newpojo.KtClinicalTrialCancer" >
    select
    <include refid="Base_Column_List" />
    from kt_clinical_trial_cancer
    where clinical_trial_key = #{clinicalTrialKey,jdbcType=VARCHAR}

  </select>

  <insert id="insertList" parameterType="List">
    insert into kt_clinical_trial_cancer (clinical_trial_key, cancer_key, doid,
    clinical_trial_id) VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.clinicalTrialKey,jdbcType=VARCHAR}, #{item.cancerKey,jdbcType=VARCHAR}, #{item.doid,jdbcType=INTEGER},
      #{item.clinicalTrialId,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>