<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huasheng.dao.newdao.KtDrugActionTargetDao" >
  <resultMap id="BaseResultMap" type="com.huasheng.pojo.newpojo.KtDrugActionTarget" >
    <id column="action_target_key" property="actionTargetKey" jdbcType="VARCHAR" />
    <result column="drug_key" property="drugKey" jdbcType="VARCHAR" />
    <result column="drug_id" property="drugId" jdbcType="INTEGER" />
    <result column="action_target" property="actionTarget" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    action_target_key, drug_key, drug_id, action_target
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from kt_drug_action_target
    where action_target_key = #{actionTargetKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from kt_drug_action_target
    where action_target_key = #{actionTargetKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huasheng.pojo.newpojo.KtDrugActionTarget" >
    insert into kt_drug_action_target (action_target_key, drug_key, drug_id, 
      action_target)
    values (#{actionTargetKey,jdbcType=VARCHAR}, #{drugKey,jdbcType=VARCHAR}, #{drugId,jdbcType=INTEGER}, 
      #{actionTarget,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huasheng.pojo.newpojo.KtDrugActionTarget" >
    insert into kt_drug_action_target
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actionTargetKey != null" >
        action_target_key,
      </if>
      <if test="drugKey != null" >
        drug_key,
      </if>
      <if test="drugId != null" >
        drug_id,
      </if>
      <if test="actionTarget != null" >
        action_target,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actionTargetKey != null" >
        #{actionTargetKey,jdbcType=VARCHAR},
      </if>
      <if test="drugKey != null" >
        #{drugKey,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        #{drugId,jdbcType=INTEGER},
      </if>
      <if test="actionTarget != null" >
        #{actionTarget,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huasheng.pojo.newpojo.KtDrugActionTarget" >
    update kt_drug_action_target
    <set >
      <if test="drugKey != null" >
        drug_key = #{drugKey,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        drug_id = #{drugId,jdbcType=INTEGER},
      </if>
      <if test="actionTarget != null" >
        action_target = #{actionTarget,jdbcType=VARCHAR},
      </if>
    </set>
    where action_target_key = #{actionTargetKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtDrugActionTarget" >
    update kt_drug_action_target
    set drug_key = #{drugKey,jdbcType=VARCHAR},
      drug_id = #{drugId,jdbcType=INTEGER},
      action_target = #{actionTarget,jdbcType=VARCHAR}
    where action_target_key = #{actionTargetKey,jdbcType=VARCHAR}
  </update>
  <select id="selectByDrugKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from kt_drug_action_target
    where drug_key = #{drugKey,jdbcType=VARCHAR}
  </select>
</mapper>