<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huasheng.dao.newdao.KtDrugClassificationDao" >
  <resultMap id="BaseResultMap" type="com.huasheng.pojo.newpojo.KtDrugClassification" >
    <id column="drug_key" property="drugKey" jdbcType="VARCHAR" />
    <id column="chemical_category_key" property="chemicalCategoryKey" jdbcType="VARCHAR" />
    <result column="drug_id" property="drugId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    drug_key, chemical_category_key, drug_id, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.huasheng.pojo.newpojo.KtDrugClassification" >
    select
    <include refid="Base_Column_List" />
    from kt_drug_classification
    where drug_key = #{drugKey,jdbcType=VARCHAR}
    and chemical_category_key = #{chemicalCategoryKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtDrugClassification" >
    delete from kt_drug_classification
    where drug_key = #{drugKey,jdbcType=VARCHAR}
    and chemical_category_key = #{chemicalCategoryKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huasheng.pojo.newpojo.KtDrugClassification" >
    insert into kt_drug_classification (drug_key, chemical_category_key, drug_id,
    description)
    values (#{drugKey,jdbcType=VARCHAR}, #{chemicalCategoryKey,jdbcType=VARCHAR}, #{drugId,jdbcType=INTEGER},
    #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huasheng.pojo.newpojo.KtDrugClassification" >
    insert into kt_drug_classification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="drugKey != null" >
        drug_key,
      </if>
      <if test="chemicalCategoryKey != null" >
        chemical_category_key,
      </if>
      <if test="drugId != null" >
        drug_id,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="drugKey != null" >
        #{drugKey,jdbcType=VARCHAR},
      </if>
      <if test="chemicalCategoryKey != null" >
        #{chemicalCategoryKey,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        #{drugId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huasheng.pojo.newpojo.KtDrugClassification" >
    update kt_drug_classification
    <set >
      <if test="drugId != null" >
        drug_id = #{drugId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where drug_key = #{drugKey,jdbcType=VARCHAR}
    and chemical_category_key = #{chemicalCategoryKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtDrugClassification" >
    update kt_drug_classification
    set drug_id = #{drugId,jdbcType=INTEGER},
    description = #{description,jdbcType=VARCHAR}
    where drug_key = #{drugKey,jdbcType=VARCHAR}
    and chemical_category_key = #{chemicalCategoryKey,jdbcType=VARCHAR}
  </update>
  <select id="selectByDrugKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from kt_drug_classification
    where drug_key = #{drugKey,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByDrugKey" parameterType="java.lang.String">
    delete from kt_drug_classification
    where drug_key = #{drugKey,jdbcType=VARCHAR}
  </delete>
</mapper>