<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huasheng.dao.newdao.KtDrugSequenceDao" >
  <resultMap id="BaseResultMap" type="com.huasheng.pojo.newpojo.KtDrugSequence" >
    <id column="sequence_key" property="sequenceKey" jdbcType="VARCHAR" />
    <result column="drug_key" property="drugKey" jdbcType="VARCHAR" />
    <result column="drug_id" property="drugId" jdbcType="INTEGER" />
    <result column="sequence" property="sequence" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sequence_key, drug_key, drug_id, sequence
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from kt_drug_sequence
    where sequence_key = #{sequenceKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from kt_drug_sequence
    where sequence_key = #{sequenceKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huasheng.pojo.newpojo.KtDrugSequence" >
    insert into kt_drug_sequence (sequence_key, drug_key, drug_id, 
      sequence)
    values (#{sequenceKey,jdbcType=VARCHAR}, #{drugKey,jdbcType=VARCHAR}, #{drugId,jdbcType=INTEGER}, 
      #{sequence,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huasheng.pojo.newpojo.KtDrugSequence" >
    insert into kt_drug_sequence
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sequenceKey != null" >
        sequence_key,
      </if>
      <if test="drugKey != null" >
        drug_key,
      </if>
      <if test="drugId != null" >
        drug_id,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sequenceKey != null" >
        #{sequenceKey,jdbcType=VARCHAR},
      </if>
      <if test="drugKey != null" >
        #{drugKey,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        #{drugId,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huasheng.pojo.newpojo.KtDrugSequence" >
    update kt_drug_sequence
    <set >
      <if test="drugKey != null" >
        drug_key = #{drugKey,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        drug_id = #{drugId,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=VARCHAR},
      </if>
    </set>
    where sequence_key = #{sequenceKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtDrugSequence" >
    update kt_drug_sequence
    set drug_key = #{drugKey,jdbcType=VARCHAR},
      drug_id = #{drugId,jdbcType=INTEGER},
      sequence = #{sequence,jdbcType=VARCHAR}
    where sequence_key = #{sequenceKey,jdbcType=VARCHAR}
  </update>
  <select id="selectByDrugKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from kt_drug_sequence
    where drug_key = #{drugKey,jdbcType=VARCHAR}
  </select>
</mapper>