<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huasheng.dao.newdao.KtGeneAliasDao" >
  <resultMap id="BaseResultMap" type="com.huasheng.pojo.newpojo.KtGeneAlias" >
    <id column="gene_alias_key" property="geneAliasKey" jdbcType="VARCHAR" />
    <result column="gene_key" property="geneKey" jdbcType="VARCHAR" />
    <result column="gene_id" property="geneId" jdbcType="INTEGER" />
    <result column="gene_alias" property="geneAlias" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    gene_alias_key, gene_key, gene_id, gene_alias
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from kt_gene_alias
    where gene_alias_key = #{geneAliasKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from kt_gene_alias
    where gene_alias_key = #{geneAliasKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huasheng.pojo.newpojo.KtGeneAlias" >
    insert into kt_gene_alias (gene_alias_key, gene_key, gene_id, 
      gene_alias)
    values (#{geneAliasKey,jdbcType=VARCHAR}, #{geneKey,jdbcType=VARCHAR}, #{geneId,jdbcType=INTEGER}, 
      #{geneAlias,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huasheng.pojo.newpojo.KtGeneAlias" >
    insert into kt_gene_alias
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="geneAliasKey != null" >
        gene_alias_key,
      </if>
      <if test="geneKey != null" >
        gene_key,
      </if>
      <if test="geneId != null" >
        gene_id,
      </if>
      <if test="geneAlias != null" >
        gene_alias,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="geneAliasKey != null" >
        #{geneAliasKey,jdbcType=VARCHAR},
      </if>
      <if test="geneKey != null" >
        #{geneKey,jdbcType=VARCHAR},
      </if>
      <if test="geneId != null" >
        #{geneId,jdbcType=INTEGER},
      </if>
      <if test="geneAlias != null" >
        #{geneAlias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huasheng.pojo.newpojo.KtGeneAlias" >
    update kt_gene_alias
    <set >
      <if test="geneKey != null" >
        gene_key = #{geneKey,jdbcType=VARCHAR},
      </if>
      <if test="geneId != null" >
        gene_id = #{geneId,jdbcType=INTEGER},
      </if>
      <if test="geneAlias != null" >
        gene_alias = #{geneAlias,jdbcType=VARCHAR},
      </if>
    </set>
    where gene_alias_key = #{geneAliasKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtGeneAlias" >
    update kt_gene_alias
    set gene_key = #{geneKey,jdbcType=VARCHAR},
      gene_id = #{geneId,jdbcType=INTEGER},
      gene_alias = #{geneAlias,jdbcType=VARCHAR}
    where gene_alias_key = #{geneAliasKey,jdbcType=VARCHAR}
  </update>
  <!--批量插入基因位置信息-->
  <insert id="addKtGeneAlias" parameterType="List">
    insert into kt_gene_alias (gene_alias_key, gene_key, gene_id,
      gene_alias)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.geneAliasKey,jdbcType=VARCHAR}, #{item.geneKey,jdbcType=VARCHAR}, #{item.geneId,jdbcType=INTEGER},
      #{item.geneAlias,jdbcType=VARCHAR})
    </foreach>

  </insert>

  <select id="selectByGeneKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from kt_gene_alias
    where gene_key = #{geneKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByGeneKey" parameterType="String">
     delete from kt_gene_alias
    where gene_key = #{geneKey,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteAllGeneAlias" >
    delete from kt_gene_alias
  </delete>

</mapper>