<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huasheng.dao.newdao.KtGeneDetectionDrugRefDao" >
  <resultMap id="BaseResultMap" type="com.huasheng.pojo.newpojo.KtGeneDetectionDrugRef" >
    <id column="detection_key" property="detectionKey" jdbcType="VARCHAR" />
    <id column="drug_key" property="drugKey" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtGeneDetectionDrugRef" >
    delete from kt_gene_detection_drug_ref
    where detection_key = #{detectionKey,jdbcType=VARCHAR}
      and drug_key = #{drugKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huasheng.pojo.newpojo.KtGeneDetectionDrugRef" >
    insert into kt_gene_detection_drug_ref (detection_key, drug_key)
    values (#{detectionKey,jdbcType=VARCHAR}, #{drugKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huasheng.pojo.newpojo.KtGeneDetectionDrugRef" >
    insert into kt_gene_detection_drug_ref
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detectionKey != null" >
        detection_key,
      </if>
      <if test="drugKey != null" >
        drug_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detectionKey != null" >
        #{detectionKey,jdbcType=VARCHAR},
      </if>
      <if test="drugKey != null" >
        #{drugKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <insert id="insertMore" parameterType="java.util.List">
    insert into kt_gene_detection_drug_ref (detection_key, drug_key)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.detectionKey,jdbcType=VARCHAR}, #{item.drugKey,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <delete id="deleteByDetectionKey" parameterType="java.lang.String">
    delete from kt_gene_detection_drug_ref
    where detection_key = #{detectionKey,jdbcType=VARCHAR}
  </delete>
  <select id="getCount" resultType="Integer">
    SELECT count(*) from kt_gene_detection_drug_ref
  </select>
</mapper>