<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huasheng.dao.newdao.KtSyndromeGeneDao" >
  <resultMap id="BaseResultMap" type="com.huasheng.pojo.newpojo.KtSyndromeGene" >
    <id column="syndrome_key" property="syndromeKey" jdbcType="VARCHAR" />
    <id column="gene_key" property="geneKey" jdbcType="VARCHAR" />
    <result column="gene_id" property="geneId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    syndrome_key, gene_key, gene_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.huasheng.pojo.newpojo.KtSyndromeGene" >
    select 
    <include refid="Base_Column_List" />
    from kt_syndrome_gene
    where syndrome_key = #{syndromeKey,jdbcType=VARCHAR}
      and gene_key = #{geneKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtSyndromeGene" >
    delete from kt_syndrome_gene
    where syndrome_key = #{syndromeKey,jdbcType=VARCHAR}
      and gene_key = #{geneKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huasheng.pojo.newpojo.KtSyndromeGene" >
    insert into kt_syndrome_gene (syndrome_key, gene_key, gene_id
      )
    values (#{syndromeKey,jdbcType=VARCHAR}, #{geneKey,jdbcType=VARCHAR}, #{geneId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huasheng.pojo.newpojo.KtSyndromeGene" >
    insert into kt_syndrome_gene
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="syndromeKey != null" >
        syndrome_key,
      </if>
      <if test="geneKey != null" >
        gene_key,
      </if>
      <if test="geneId != null" >
        gene_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="syndromeKey != null" >
        #{syndromeKey,jdbcType=VARCHAR},
      </if>
      <if test="geneKey != null" >
        #{geneKey,jdbcType=VARCHAR},
      </if>
      <if test="geneId != null" >
        #{geneId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huasheng.pojo.newpojo.KtSyndromeGene" >
    update kt_syndrome_gene
    <set >
      <if test="geneId != null" >
        gene_id = #{geneId,jdbcType=INTEGER},
      </if>
    </set>
    where syndrome_key = #{syndromeKey,jdbcType=VARCHAR}
      and gene_key = #{geneKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtSyndromeGene" >
    update kt_syndrome_gene
    set gene_id = #{geneId,jdbcType=INTEGER}
    where syndrome_key = #{syndromeKey,jdbcType=VARCHAR}
      and gene_key = #{geneKey,jdbcType=VARCHAR}
  </update>
  <insert id="insertMore" parameterType="List">
     insert into kt_syndrome_gene (syndrome_key, gene_key, gene_id
      )
    values
     <foreach collection="list" index="index" item="item" separator=",">
     (#{item.syndromeKey,jdbcType=VARCHAR}, #{item.geneKey,jdbcType=VARCHAR}, #{item.geneId,jdbcType=INTEGER}
      )
     </foreach>
  </insert>

  <select id="getSyndromeGeneList" resultMap="BaseResultMap" parameterType="com.huasheng.pojo.newpojo.KtSyndromeGene" >
    select
    <include refid="Base_Column_List" />
    from kt_syndrome_gene
    where syndrome_key = #{syndromeKey,jdbcType=VARCHAR}

  </select>
  <delete id="deleteByKey" parameterType="String">
      delete from kt_syndrome_gene
    where syndrome_key = #{syndromeKey,jdbcType=VARCHAR}

  </delete>
</mapper>