<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huasheng.dao.newdao.KtVariantMutationStatisticDao" >
  <resultMap id="BaseResultMap" type="com.huasheng.pojo.newpojo.KtVariantMutationStatistic" >
    <id column="cancer_key" property="cancerKey" jdbcType="VARCHAR" />
    <id column="variant_key" property="variantKey" jdbcType="VARCHAR" />
    <result column="doid" property="doid" jdbcType="INTEGER" />
    <result column="mutation_id" property="mutationId" jdbcType="VARCHAR" />
    <result column="num_of_samples" property="numOfSamples" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cancer_key, variant_key, doid, mutation_id, num_of_samples
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.huasheng.pojo.newpojo.KtVariantMutationStatistic" >
    select 
    <include refid="Base_Column_List" />
    from kt_variant_mutation_statistic
    where cancer_key = #{cancerKey,jdbcType=VARCHAR}
      and variant_key = #{variantKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtVariantMutationStatistic" >
    delete from kt_variant_mutation_statistic
    where cancer_key = #{cancerKey,jdbcType=VARCHAR}
      and variant_key = #{variantKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huasheng.pojo.newpojo.KtVariantMutationStatistic" >
    insert into kt_variant_mutation_statistic (cancer_key, variant_key, doid, 
      mutation_id, num_of_samples)
    values (#{cancerKey,jdbcType=VARCHAR}, #{variantKey,jdbcType=VARCHAR}, #{doid,jdbcType=INTEGER}, 
      #{mutationId,jdbcType=VARCHAR}, #{numOfSamples,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huasheng.pojo.newpojo.KtVariantMutationStatistic" >
    insert into kt_variant_mutation_statistic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cancerKey != null" >
        cancer_key,
      </if>
      <if test="variantKey != null" >
        variant_key,
      </if>
      <if test="doid != null" >
        doid,
      </if>
      <if test="mutationId != null" >
        mutation_id,
      </if>
      <if test="numOfSamples != null" >
        num_of_samples,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cancerKey != null" >
        #{cancerKey,jdbcType=VARCHAR},
      </if>
      <if test="variantKey != null" >
        #{variantKey,jdbcType=VARCHAR},
      </if>
      <if test="doid != null" >
        #{doid,jdbcType=INTEGER},
      </if>
      <if test="mutationId != null" >
        #{mutationId,jdbcType=VARCHAR},
      </if>
      <if test="numOfSamples != null" >
        #{numOfSamples,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huasheng.pojo.newpojo.KtVariantMutationStatistic" >
    update kt_variant_mutation_statistic
    <set >
      <if test="doid != null" >
        doid = #{doid,jdbcType=INTEGER},
      </if>
      <if test="mutationId != null" >
        mutation_id = #{mutationId,jdbcType=VARCHAR},
      </if>
      <if test="numOfSamples != null" >
        num_of_samples = #{numOfSamples,jdbcType=INTEGER},
      </if>
    </set>
    where cancer_key = #{cancerKey,jdbcType=VARCHAR}
      and variant_key = #{variantKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huasheng.pojo.newpojo.KtVariantMutationStatistic" >
    update kt_variant_mutation_statistic
    set doid = #{doid,jdbcType=INTEGER},
      mutation_id = #{mutationId,jdbcType=VARCHAR},
      num_of_samples = #{numOfSamples,jdbcType=INTEGER},
      cancer_key = #{cancerKey,jdbcType=VARCHAR}
    where
       variant_key = #{variantKey,jdbcType=VARCHAR}
  </update>

  <select id="getVariantMutationStatistic" resultMap="BaseResultMap" parameterType="String" >
    select
    <include refid="Base_Column_List" />
    from kt_variant_mutation_statistic
    where
     variant_key = #{variantKey,jdbcType=VARCHAR}
  </select>

  <insert id="insertMore" parameterType="List">
     insert into kt_variant_mutation_statistic (cancer_key, variant_key, doid,
      mutation_id, num_of_samples)
    values
     <foreach collection="list" item="item" index="index" separator=",">
     (#{item.cancerKey,jdbcType=VARCHAR}, #{item.variantKey,jdbcType=VARCHAR}, #{item.doid,jdbcType=INTEGER},
      #{item.mutationId,jdbcType=VARCHAR}, #{item.numOfSamples,jdbcType=INTEGER})
     </foreach>
  </insert>

  <delete id="deleteByVariantKey" parameterType="String">
    DELETE FROM kt_variant_mutation_statistic WHERE variant_key = #{variantKey,jdbcType=VARCHAR}
  </delete>
</mapper>